#container {
  max-width: 1000px;
  margin: 0px auto;
}

a.btn {
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border:1px solid gray;
  padding:10px;
  color:black;
  font-weight:bold;
  background-color:#f5f5f5;
  border-radius:5px;
  margin: 20px 0;
  text-decoration: none;
}

#footer {
  text-align: right;
  font-size: 90%;
  color:gray;
  border-top: 1px solid #f5f5f5;
  margin-top: 20px;
}
